# Python Sessions with DEPI - session 2

### Slicing a List

In [1]:
# Working with Part of a List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[0:3])
print(names[0:4])

['mahmoud', 'ali', 'ahmed']
['mahmoud', 'ali', 'ahmed', 'mohamed']

In [2]:
names=list(('mahmoud', 'ali', 'ahmed', 'mohamed'))
print(type(names))

<class 'list'>

In [3]:
names[-1]

'mohamed'

In [4]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

print(names[:4])
print(names[2:])
print(names[-3:])
print(names[-3:-2])

['mahmoud', 'ali', 'ahmed', 'mohamed']
['ahmed', 'mohamed']
['ali', 'ahmed', 'mohamed']
['ali']

In [5]:
#Looping Through a Slice
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

mahmoud
ali
ahmed
mohamed

In [6]:
# Copying a List

my_foods = ['pizza', 'falafel', 'cake']

friend_foods = my_foods
print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'cake']
['pizza', 'falafel', 'cake']

#### Tuples
Python refers to values that cannot change as immutable, and an immutable list is called a tuple.

In [7]:
my_list = [10, 20]
my_list[0] = 250
print(my_list)

[250, 20]

In [8]:
dimensions = (200, 50) 
print(dimensions[0])

200

In [9]:
print(type(dimensions))

<class 'tuple'>

You can not modify the values in tuples

In [10]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [12]:
numbers = input("Enter a sequence of comma-separated numbers: ")
 
# Convert the input string to a list
number_list = numbers.split(",")
 
# Convert the list to a tuple
number_tuple = tuple(number_list)
 
# Print the results
print("MyList:", number_list)
print("MyTuple:", number_tuple)
print(type(number_list))

MyList: ['25', '6']
MyTuple: ('25', '6')
<class 'list'>

In [13]:
numbers_input = input("Enter a sequence of comma-separated numbers: ")
 
numbers_list = numbers_input.split(",")
 
numbers_list = [int(num.strip()) for num in numbers_list]
 
numbers_tuple = tuple(numbers_list)
 
print("List:", numbers_list)
print("Tuple:", numbers_tuple)

List: [4, 6]
Tuple: (4, 6)

In [14]:
x = input("enter your list seperated by commas")
list1=[]
for i in x.split(','):
    list1.append(i)
print(list1)

['3', '7', '9', '0']

In [15]:
my_tuple=('a',3,True,'b')
print(my_tuple)

('a', 3, True, 'b')

In [16]:
print(type(my_tuple))

<class 'tuple'>

In [17]:
my_list=list(my_tuple)
print(type(my_list))
v=tuple(my_list)
print(type(v))

<class 'list'>
<class 'tuple'>

In [18]:
print(len(my_tuple))

4

In [19]:
t1=('a',3,'c',3,3)
t2=('x','y',True)
print(t1+t2)

('a', 3, 'c', 3, 3, 'x', 'y', True)

In [20]:
print(t1*3)

('a', 3, 'c', 3, 3, 'a', 3, 'c', 3, 3, 'a', 3, 'c', 3, 3)

In [21]:
print(t1.index(3))

1

### Dictionaries
A dictionary in Python is a collection of key-value pairs. Each key is connected
to a value, and you can use a key to access the value associated with that key.


A key’s value can be a number, a string, a list, or even another dictionary.

In [22]:
user = {'Name': 'Ali',
        'Age': 25}   

print(user['Name'])
print(user['Age'])

Ali
25

In [ ]:
print(user2['ID'])

In [23]:
# Adding New Key-Value Pairs

user = {'Name': 'Ali', 'Age': 25}

user['Address'] = 'Egypt'
user['weight'] =  70
print(user)

{'Name': 'Ali', 'Age': 25, 'Address': 'Egypt', 'weight': 70}

In [24]:
user['Ali']

KeyError: 'Ali'

In [ ]:
# Modifying Values in a Dictionary
user['Address'] = 'USA'

In [25]:
user

{'Name': 'Ali', 'Age': 25, 'Address': 'Egypt', 'weight': 70}

In [26]:
# Removing Key-Value Pairs
del user['Address']
user

{'Name': 'Ali', 'Age': 25, 'weight': 70}

In [27]:
# A Dictionary of Similar Objects
favorite_languages = {
'mohamed': 'python',
'ola': 'c',
'emad': 'ruby',
'sara': 'c++',
}
print(favorite_languages['sara'])
print(favorite_languages['emad'])

c++
ruby

In [28]:
favorite_languages

{'mohamed': 'python', 'ola': 'c', 'emad': 'ruby', 'sara': 'c++'}

In [29]:
emad_value = favorite_languages.get('emad')
print(emad_value)

ruby

In [30]:
user = {'Name': 'Ali',
        'Age': 25}

In [31]:
#Looping Through a Dictionary
for a, b in user.items():
    print(f"\nKey: {a}")
    print(f"Value: {b}")

Key: Name
Value: Ali

Key: Age
Value: 25

In [32]:
print("\nKey: {a}")

Key: {a}

In [33]:
print("Key: {a}")

Key: {a}

In [34]:
user

{'Name': 'Ali', 'Age': 25}

In [35]:
for name in user.keys():
    print(name)

Name
Age

In [36]:
for name in user.values():
    print(name)

Ali
25

### if Statements

In [37]:
age = 17

print(age == 17)

True

A single equal sign is really a statement; you might read the code as “Set the value of age equal to 19.” 


On the other hand, a double equal sign (==) , asks a question: “Is the value of age equal to 17?”

In [38]:
age = 15
if age == 15:
    print("You can vote!")

You can vote!

In [39]:
age = 19
if age != 15:
    print("You can not vote!")

You can not vote!

In [40]:
# Checking Whether a Value Is in a List
names = ['Ali', 'mohamed', 'mona']
print('mona' in names)
print('ahmed' in names)

True
False

In [41]:
# Checking Whether a Value Is Not in a List

banned_users = ['Ali', 'mohamed', 'mona']
user = 'max'
if user not in banned_users:
    print(f"{user} is not in the banned users list")

max is not in the banned users list

In [42]:
# if-else Statements
my_list = ['samy', 'bmw', 'mona', 'toyota']

for i in my_list:
    if i == 'bmw':
       print(i.upper())
    else:
       print(i.title())

Samy
BMW
Mona
Toyota

In [43]:
# Boolean Expressions
active = True
offline = False

In [44]:
# The if-elif-else Chain
age = 20

if age < 30:
   print("your offer is 30%")
elif age < 50:
   print("your offer is 50%")
else:
   print("your offer is 60%")

your offer is 30%

In [45]:
# Using Multiple elif Blocks

age = 20
if age < 30:
   print("your offer is 30%")
elif age < 50:
   print("your offer is 50%")
elif age < 60:
   print("your offer is 60%")
else:
   print("your offer is 70%")

your offer is 30%

In [46]:
#Note, Python does not require an else block at the end of an if-elif chain.

age = 20
if age < 30:
   print("your offer is 30%")
elif age < 50:
   print("your offer is 50%")
elif age < 60:
   print("your offer is 60%")

#No else statement.

your offer is 30%

In [47]:
x = 10
y = 20
print(x+y)

30

In [48]:
# User Input
message = input("Tell me something, and I will repeat it back to you: ")
print(message)

hi

In [49]:

a = [1,2]
b = [3,4]
a += b
print(a)

[1, 2, 3, 4]

In [50]:
name = "ali "
name += "mohamed"
#name = name + "mohamed"
name

'ali mohamed'

In [54]:
prompt = "If you tell us who you are, we can personalize the messages you see."
prompt += "\nWhat is your first name? "
name = input(prompt)
print(f"\nHello, {name}!")

Hello, renad!

In [53]:
age = int(input("How old are you? ")) 

if age >= 18 :
    print('you can vote')

you can vote

In [55]:
#When you use the input()  function, Python interprets everything the user enters as a string.

age = input("How old are you? ")
print(type(age))

<class 'str'>

In [56]:
#Using int() to Accept Numeric Input

age = input("How old are you? ")# "20"
age = int(age) # 20
if age >= 18:
   print('you can vote')

ValueError: invalid literal for int() with base 10: ''

In [57]:
score = input("Enter Score Grade:")
score = int(score) 
if score < 60:
   print("Your grade is an F")
elif score < 70:
   print("grade d")
elif score < 80:
   print("grade c")
elif score < 90:
   print("grade b" )
elif score <= 100:
   print("grade a")
else:
   print("wrong score")

grade a

In [58]:
# while Loops
number = 1
while number <= 5:
   print(number)
   number += 1

1
2
3
4
5

In [59]:
# Letting the User Choose When to Quit

prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "

message = ""
while message != 'quit':
   message = input(prompt)
   print(message)

hi
how are you
quit

In [60]:
print('Ali' != 'Ahmed')

True

In [61]:
# Using a Flag
prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "

active = True
while active:
   message = input(prompt)
   if message == 'quit':
       active = False
   else:
       print(message)

hello

In [62]:
#Using break to Exit a Loop

prompt = "\nPlease enter the name of a city you have visited:"
prompt += "\n(Enter 'quit' when you are finished.) "
while True:
    
   city = input(prompt)
   if city == 'quit':
       break
   else:
       print(f"I'd love to go to {city.title()}!")

I'd love to go to Hi !

In [63]:
#Avoiding Infinite Loops
# right
x = 1
while x <= 5:
   print(x)
   x += 1

1
2
3
4
5

In [ ]:
# infinite loop
x = 1
while 1 <= 5:
   print(x)