# Python Sessions with DEPI - session 1

### Print a message onto the screen:

In [1]:
print("Hello world!")

Hello world!

In [2]:
print('Hello world!')

Hello world!

In [4]:
print("'let's start")

'let's start

Single and duble quotes do the same job but in case you are printing a string with upstroph you should use the duble quotes like the code below

In [5]:

print("let's start!.")

let's start!.

If you want to print a long string (in multiple lines) you should use the triple quotes

In [6]:
print('''
Hello world!
My name is ali
I am a python developer''')

Hello world!
My name is ali
I am a python developer

In [7]:
print(1000)

1000

In [8]:
print("1000")

1000

### Variables and Simple Data Types
Variables are containers for storing data values, Python has no command for declaring a variable, a variable is created the moment you first assign a value to it.

In [9]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [10]:
print("y")

y

In [11]:
print(x)

5

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [12]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [13]:
y = 10
y = 20
y = 30
print(y)

30

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

#### Rules for Python variables:
* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [14]:
#Legal variable names:

myvar = "Ahmed"
my_var = "Ahmed"
_my_var = "Ahmed"
myVar = "Ahmed"
MYVAR = "Ahmed"
myvar2 = "Ahmed"

#Illegal variable names:
2myvar = "Ahmed"
my-var = "Ahmed"
my var = "Ahmed"

SyntaxError: invalid decimal literal (3143291269.py, line 11)

Avoiding Name Errors When Using Variables

You should write the variable name without any mistakes

In [15]:
message = "Hello Python"
print(message)

Hello Python

### Data Types - Strings
A string is a series of characters. Anything inside quotes is considered a string in Python, and you can use single or double quotes around your strings

In [16]:
name = "Ali"

Changing Case in a String with Methods

In [17]:
print(name.upper()) 
print(name.lower())

ALI
ali

In [18]:
first_name = "Mahmoud"
last_name = "Ali"
print(first_name,last_name)

Mahmoud Ali

To add a tab to your text, use the character combination \t as shown

In [19]:
print("\tPython")

	Python

<code>\n</code> means new line

In [20]:
print("Languages:\nPython\nC\nJavaScript")

Languages:
Python
C
JavaScript

String concatenation

In [21]:
print('mahmoud'+  'hassan')

mahmoudhassan

In [22]:
print("10"+ "1")

101

### Fstring

In [23]:
first_name = "mahmoud"
last_name = "hassan"

full_name = f"HI {first_name} {last_name} !!!"

full_name2 = first_name  +" " +last_name
full_name3 = "HI"+" " + first_name + ' ' + last_name + "!!!"
print('full_name' ,full_name)
print('full_name2' ,full_name2)
print('full_name3 ',full_name3)

full_name HI mahmoud hassan !!!
full_name2 mahmoud hassan
full_name3  HI mahmoud hassan!!!

### Data Types - Numbers

#### Integers

In [24]:
Number = 100
num = 20

#### Floats
Python calls any number with a decimal point a float

In [25]:
print(0.1 + 0.5)

0.6

In [26]:
print(2 + 3)
print(2 * 3)
print(2 ** 3)
print(2 / 3)

5
6
8
0.6666666666666666

In [27]:
print((1+2)*4)

12

In [28]:
print(100 + 0.5)

100.5

**Try It Yourself**
Write addition, subtraction, multiplication, and division operations that each result in the number 8. 
Be sure to enclose your operations in print() calls to see the results. You should create four lines that look like this: print(5+3)

When you divide any two numbers, even if they are integers that result in a
whole number, you’ll always get a float:
4/2 ⇒ 2.0

In [29]:
4/2

2.0

In [30]:
1 + 2.0

3.0

Multiple Assignment
You can assign values to more than one variable using just a single line. This can help shorten your programs and make them easier to read; you’ll use this technique most often when initializing a set of numbers. For example, here’s how you can initialize the variables x, y, and z

In [31]:
x = 10
y = 20
z = 30

In [32]:
x, y, z = 0, 1, 2
print(z)

2

In [33]:
x = 1
x = 10

#### Constants
A constant is like a variable whose value stays the same throughout the life of a program. Python doesn’t have built-in constant types, but Python programmers use all capital letters to indicate a variable should be treated as a constant and never be changed:

In [34]:
MAX_CONNECTIONS = 5000
print(MAX_CONNECTIONS)

MAX_CONNECTIONS = 1
print(MAX_CONNECTIONS)

5000
1

#### Comments

In [35]:
# Say hello to everyone.
print("Hello Python people!")

Hello Python people!

In [36]:
'''
My name is mahmoud ali
Age : 14
Address : Egypt 
'''

'\nMy name is mahmoud ali\nAge : 14\nAddress : Egypt \n'

In [37]:
print(10+10)
print("Ali"+10)

20

TypeError: can only concatenate str (not "int") to str

In [38]:
name = "Ali"
num = 10.5
test = f"{name} {num}"
print(test)

Ali 10.5

#### List

In [39]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']


my_list = ['mahmoud',20, 'ahmed', '300']
print(names)

['mahmoud', 'ali', 'ahmed', 'mohamed']

#### Accessing Elements in a List
NOTE: Index Positions Start at 0, Not 1

In [40]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[3])

mohamed

In [41]:
#the last element in your list will have the index of -1
print(names[-1])

mohamed

#### Changing, Adding, and Removing Elements

In [42]:
# Modifying Elements in a List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names)

['mahmoud', 'ali', 'ahmed', 'mohamed']

In [43]:
names[0] = 'Max'
print(names)

['Max', 'ali', 'ahmed', 'mohamed']

In [44]:
# Adding Elements to a List
names.append('Basma')
print(names)

['Max', 'ali', 'ahmed', 'mohamed', 'Basma']

In [45]:
names.insert(2,'Basma')
print(names)

['Max', 'ali', 'Basma', 'ahmed', 'mohamed', 'Basma']

In [46]:
# You can append (add) any items to your empty list like:

t1 = ['a', 'b', 'c']


print(t1)

names.append(t1)
names.append('Ali')
names.append('samer')
print(names)

['a', 'b', 'c']
['Max', 'ali', 'Basma', 'ahmed', 'mohamed', 'Basma', ['a', 'b', 'c'], 'Ali', 'samer']

In [47]:
# extend takes a list as an argument and appends all of the elements:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']

#t1.append(t2)
t1.extend(t2)
print(t1)

['a', 'b', 'c', 'd', 'e']

In [48]:
# Inserting Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']

motorcycles.insert(2, 'ducati')
print(motorcycles)

['honda', 'yamaha', 'ducati', 'suzuki']

In [49]:
#Removing an Item Using the del Statement
del motorcycles[0]
print(motorcycles)

['yamaha', 'ducati', 'suzuki']

In [50]:
# Removing an Item Using the pop() Method
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

popped_name = names.pop()
print(popped_name)
print(names)

mohamed
['mahmoud', 'ali', 'ahmed']

In [51]:
motorcycles = ['honda', 'yamaha', 'suzuki']
popped_motorcycle = motorcycles.pop(0)
print(popped_motorcycle)
print(motorcycles)

honda
['yamaha', 'suzuki']

In [52]:
# Removing an Item by Value
names = ['mahmoud', 'ali', 'ahmed','ali' ,'mohamed']
names.remove('ali')
print(names)

['mahmoud', 'ahmed', 'ali', 'mohamed']

In [53]:
# Organizing a List
numbers = [5, 3, 1, 4,2]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5]

In [54]:
numbers.reverse()
print(numbers)

[5, 4, 3, 2, 1]

Notice that reverse() doesn’t sort backward.

In [55]:
#Sorting a list of strings

names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
names.sort()
print(names)

['ahmed', 'ali', 'mahmoud', 'mohamed']

In [56]:
#Finding the Length of a List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(len(names))

4

In [57]:
# Avoiding Index Errors When Working with Lists

names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[3])

mohamed

In [58]:
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']
print(names[0])
print(names[1])
print(names[2])
print(names[3])

mahmoud
ali
ahmed
mohamed

In [59]:
#Looping Through an Entire List
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    
    print(name)

mahmoud
ali
ahmed
mohamed

In [60]:
#Doing Something After a for Loop
names = ['mahmoud', 'ali', 'ahmed', 'mohamed']

for name in names:
    print(name)

print('the end')

mahmoud
ali
ahmed
mohamed
the end

In [61]:
# Making Numerical Lists 
numbers = list(range(1, 20)) 
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [62]:
even_numbers = list(range(2, 11, 2)) 
print(even_numbers)

[2, 4, 6, 8, 10]

In [63]:
print(2**2)

4

In [64]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [65]:
#Quiz 
# create a list of squares from 1 to 10 numbers

#solution

In [66]:
squares = []
for number in range(1, 11): 
    squares.append(number ** 2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [67]:
# Simple Statistics with a List of Numbers

digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(min(digits))

print(max(digits))

print(sum(digits))

0
9
45

In [68]:
# List Comprehensions
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
squares = []
for value in range(1, 11):
      squares.append(value ** 2)

print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


**Try It Yourself**
3.1 Guest List: If you could invite anyone, living or deceased, to dinner, who would you invite? 
Make a list that includes at least three people you’d like to invite to dinner. Then use your list to print a message to each person, inviting them to dinner. 


3.2 Changing Guest List: You just heard that one of your guests can’t make the dinner, so you need to send out a new set of invitations. You’ll have to think of someone else to invite. 
Start with your program from Exercise 3.1. Add a print() call at the end of your program stating the name of the guest who can’t make it. 
Modify your list, replacing the name of the guest who can’t make it with the name of the new person you are inviting. 
Print a second set of invitation messages, one for each person who is still in your list. 


3.3 More Guests: You just found a bigger dinner table, so now more space is available. Think of three more guests to invite to dinner.  


Start with your program from Exercise 3.1 or Exercise 3.2. Add a print() call to the end of your program informing people that you found a bigger dinner table. 
Use insert() to add one new guest to the beginning of your list.


Use insert() to add one new guest to the middle of your list. 


Use append() to add one new guest to the end of your list. 


Print a new set of invitation messages, one for each person in your list